<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <table
      style="
        border-spacing: 0;
        border-collapse: collapse;
        vertical-align: top;
        text-align: left;
        height: 100%;
        width: 100%;
        color: #222;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        background: #fafafa repeat center top;
        margin: 0;
        padding: 0;
      "
      bgcolor="#fafafa"
    >
      <tbody>
        <tr
          style="vertical-align: top; text-align: left; padding: 0"
          align="left"
        >
          <td
            align="center"
            valign="top"
            style="
              word-break: break-word;
              border-collapse: collapse !important;
              vertical-align: top;
              text-align: center;
              color: #222;
              font-family: Helvetica, Arial, sans-serif;
              font-weight: 400;
              font-size: 14px;
              margin: 0;
              padding: 0;
            "
          >
            <center style="width: 100%; min-width: 580px">
              <table
                style="
                  border-spacing: 0;
                  border-collapse: collapse;
                  vertical-align: top;
                  text-align: inherit;
                  max-width: 580px;
                  margin: 0 auto;
                  padding: 0;
                "
              >
                <tbody>
                  <tr
                    style="vertical-align: top; text-align: left; padding: 0"
                    align="left"
                  >
                    <td
                      style="
                        word-break: break-word;
                        border-collapse: collapse !important;
                        vertical-align: top;
                        text-align: left;
                        color: #222;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0;
                        padding: 0;
                      "
                      align="left"
                      valign="top"
                    >
                      <table
                        style="
                          border-spacing: 0;
                          border-collapse: collapse;
                          text-align: left;
                          width: 100%;
                          display: block;
                          background: transparent repeat center top;
                          padding: 0;
                        "
                        bgcolor="transparent"
                      >
                        <tbody>
                          <tr
                            style="
                              vertical-align: top;
                              text-align: left;
                              padding: 0;
                            "
                            align="left"
                          >
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                text-align: left;
                                color: #222;
                                font-family: Helvetica, Arial, sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                margin: 0;
                                padding: 0;
                              "
                              align="left"
                              valign="top"
                            >
                              <table
                                style="
                                  border-spacing: 0;
                                  border-collapse: collapse;
                                  vertical-align: top;
                                  text-align: left;
                                  width: 580px;
                                  margin: 0 auto;
                                  padding: 0;
                                "
                              >
                                <tbody>
                                  <tr
                                    style="
                                      vertical-align: top;
                                      text-align: left;
                                      padding: 0;
                                    "
                                    align="left"
                                  >
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    >
                                      <table
                                        style="
                                          width: 100%;
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                font-size: 1px;
                                                line-height: 0;
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                background: transparent repeat
                                                  center center;
                                                margin: 0;
                                                padding: 20px 0 0;
                                              "
                                              align="left"
                                              bgcolor="transparent"
                                              valign="top"
                                            >
                                              &nbsp;
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="
                  border-spacing: 0;
                  border-collapse: collapse;
                  vertical-align: top;
                  text-align: inherit;
                  max-width: 580px;
                  margin: 0 auto;
                  padding: 0;
                "
              >
                <tbody>
                  <tr
                    style="vertical-align: top; text-align: left; padding: 0"
                    align="left"
                  >
                    <td
                      style="
                        word-break: break-word;
                        border-collapse: collapse !important;
                        vertical-align: top;
                        text-align: left;
                        color: #222;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0;
                        padding: 0;
                      "
                      align="left"
                      valign="top"
                    >
                      <table
                        style="
                          border-radius: 11px;
                          border-spacing: 0;
                          border-collapse: collapse;
                          text-align: left;
                          width: 100%;
                          display: block;
                          background: #fff repeat center top;
                          padding: 5px 0;
                        "
                        bgcolor="#ffffff"
                      >
                        <tbody>
                          <tr
                            style="
                              vertical-align: top;
                              text-align: left;
                              padding: 0;
                            "
                            align="left"
                          >
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                text-align: left;
                                color: #222;
                                font-family: Helvetica, Arial, sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                margin: 0;
                                padding: 0;
                              "
                              align="left"
                              valign="top"
                            >
                              <table
                                style="
                                  border-spacing: 0;
                                  border-collapse: collapse;
                                  vertical-align: top;
                                  text-align: left;
                                  width: 580px;
                                  margin: 0 auto;
                                  padding: 0;
                                "
                              >
                                <tbody>
                                  <tr
                                    style="
                                      vertical-align: top;
                                      text-align: left;
                                      padding: 0;
                                    "
                                    align="left"
                                  >
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    >
                                      <table
                                        width="100%"
                                        style="
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                background: transparent repeat
                                                  center center;
                                                margin: 0;
                                                padding: 40px 10px 20px;
                                              "
                                              align="left"
                                              bgcolor="transparent"
                                              valign="top"
                                            >
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                <span style="font-size: 26px"
                                                  ><strong
                                                    >Подтверждение<br />адреса
                                                    электронной почты</strong
                                                  ></span
                                                >
                                              </p>
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                Здравствуйте!
                                              </p>
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                Вас приветствует приёмная
                                                комиссия
                                                <strong
                                                  >Лицея "Вторая школа"</strong
                                                >
                                              </p>
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                Подтвердите адрес электронной
                                                почты для завершения регистрации
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        style="
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: center;
                                          width: 100%;
                                          overflow: hidden;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                text-align: center;
                                                width: auto !important;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                display: block;
                                                line-height: initial !important;
                                                margin: 0;
                                                padding: 10px 0 40px;
                                              "
                                              align="center"
                                              valign="top"
                                            >
                                              <a
                                                href="{{ .ConfirmationURL }}"
                                                style="
                                                  line-height: 16px;
                                                  font-family: Ubuntu,
                                                    sans-serif !important;
                                                  font-size: 16px !important;
                                                  display: inline-block;
                                                  border-radius: 12px;
                                                  color: #fff;
                                                  text-decoration: none;
                                                  font-weight: 700;
                                                  text-align: center;
                                                  height: 100%;
                                                  width: auto;
                                                  background: #0b38ce repeat
                                                    center center;
                                                  padding: 15px 20px;
                                                "
                                                target="_blank"
                                                >Подтвердить email</a
                                              >
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="
                  border-spacing: 0;
                  border-collapse: collapse;
                  vertical-align: top;
                  text-align: inherit;
                  max-width: 580px;
                  margin: 0 auto;
                  padding: 0;
                "
              >
                <tbody>
                  <tr
                    style="vertical-align: top; text-align: left; padding: 0"
                    align="left"
                  >
                    <td
                      style="
                        word-break: break-word;
                        border-collapse: collapse !important;
                        vertical-align: top;
                        text-align: left;
                        color: #222;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0;
                        padding: 0;
                      "
                      align="left"
                      valign="top"
                    >
                      <table
                        style="
                          border-spacing: 0;
                          border-collapse: collapse;
                          text-align: left;
                          width: 100%;
                          display: block;
                          background: transparent repeat center top;
                          padding: 0;
                        "
                        bgcolor="transparent"
                      >
                        <tbody>
                          <tr
                            style="
                              vertical-align: top;
                              text-align: left;
                              padding: 0;
                            "
                            align="left"
                          >
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                text-align: left;
                                color: #222;
                                font-family: Helvetica, Arial, sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                margin: 0;
                                padding: 0;
                              "
                              align="left"
                              valign="top"
                            >
                              <table
                                style="
                                  border-spacing: 0;
                                  border-collapse: collapse;
                                  vertical-align: top;
                                  text-align: left;
                                  width: 580px;
                                  margin: 0 auto;
                                  padding: 0;
                                "
                              >
                                <tbody>
                                  <tr
                                    style="
                                      vertical-align: top;
                                      text-align: left;
                                      padding: 0;
                                    "
                                    align="left"
                                  >
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    >
                                      <table
                                        style="
                                          width: 100%;
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                font-size: 1px;
                                                line-height: 0;
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                background: transparent repeat
                                                  center center;
                                                margin: 0;
                                                padding: 20px 0 0;
                                              "
                                              align="left"
                                              bgcolor="transparent"
                                              valign="top"
                                            >
                                              &nbsp;
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        width="100%"
                                        style="
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                margin: 0;
                                                padding: 0;
                                              "
                                              align="left"
                                              valign="top"
                                            >
                                              <hr
                                                style="
                                                  color: #d9d9d9;
                                                  background-color: #d9d9d9;
                                                  height: 1px;
                                                  border: none;
                                                "
                                              />
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        width="100%"
                                        style="
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                background: transparent repeat
                                                  center center;
                                                margin: 0;
                                                padding: 0 10px;
                                              "
                                              align="left"
                                              bgcolor="transparent"
                                              valign="top"
                                            >
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                <span style="font-size: 11px">
                                                  <strong
                                                    >Государственное бюджетное
                                                    общеобразовательное
                                                    учреждение города Москвы
                                                    «Лицей «Вторая школа» имени
                                                    В.Ф. Овчинникова»</strong
                                                  ></span
                                                ><br /><span
                                                  style="font-size: 11px"
                                                  >Адрес:&nbsp;<strong
                                                    >119333, Москва ул.
                                                    Фотиевой, 18, Москва</strong
                                                  ></span
                                                ><br /><span
                                                  style="font-size: 11px"
                                                  >Телефон:&nbsp;<strong
                                                    >8(499)137-17-69</strong
                                                  ></span
                                                >
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table
                                        width="100%"
                                        style="
                                          border-spacing: 0;
                                          border-collapse: collapse;
                                          vertical-align: top;
                                          text-align: left;
                                          padding: 0;
                                        "
                                      >
                                        <tbody>
                                          <tr
                                            style="
                                              vertical-align: top;
                                              text-align: left;
                                              padding: 0;
                                            "
                                            align="left"
                                          >
                                            <td
                                              style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                width: 100%;
                                                color: #222;
                                                font-family: Helvetica, Arial,
                                                  sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                background: transparent repeat
                                                  center center;
                                                margin: 0;
                                                padding: 0 10px;
                                              "
                                              align="left"
                                              bgcolor="transparent"
                                              valign="top"
                                            >
                                              <p
                                                style="
                                                  text-align: center;
                                                  color: #222;
                                                  font-family: Helvetica, Arial,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  font-size: 14px;
                                                  line-height: 1.3;
                                                  margin: 0 0 10px;
                                                  padding: 0;
                                                "
                                                align="center"
                                              >
                                                <span
                                                  style="
                                                    font-size: 12px;
                                                    color: grey;
                                                  "
                                                  >Вы получили это письмо на
                                                  электронный адрес<a
                                                    href="mailto:{{ .Email }}"
                                                    target="_blank"
                                                    >{{ .Email }}</a
                                                  >,&nbsp;<wbr />так как подали
                                                  заявку на регистрацию на сайте
                                                  приёмной комиссии&nbsp;<strong
                                                    >ГБОУ города Москвы «Лицей
                                                    «Вторая школа» имени В.Ф.
                                                    Овчинникова»</strong
                                                  ></span
                                                >
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td
                                      style="
                                        word-break: break-word;
                                        border-collapse: collapse !important;
                                        vertical-align: top;
                                        text-align: left;
                                        width: 100%;
                                        color: #222;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        margin: 0;
                                        padding: 0;
                                      "
                                      align="left"
                                      valign="top"
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
